
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>save</title>
</head>
<body>
    <div>
        <script src="~/scripts/jquery-3.0.0.min.js"></script>
        <script>
            var Lon = 0;
            var Lat = 0;
            var startTime = new Date().getTime();
            var interval = setInterval(function(){
                if(new Date().getTime() - startTime > @Session["sTime"] * 1000){
                    clearInterval(interval);
                    $.post("@Url.Action("closeXml")").done(function (xml) {
                                var xmlDoc = $.parseXML( xml ),
                                $xml = $( xmlDoc ),
                                Lon = $xml.find( "Lon" ).text();
                                Lat = $xml.find( "Lat" ).text();

                                $("#dataLon").text(Lon);
                                $("#dataLat").text(Lat);});
                }
                $.post("@Url.Action("AddLocation")").done(function (xml) {
                                var xmlDoc = $.parseXML( xml ),
                                $xml = $( xmlDoc ),
                                Lon = $xml.find( "Lon" ).text();
                                Lat = $xml.find( "Lat" ).text();

                                $("#dataLon").text(Lon);
                                $("#dataLat").text(Lat);});
            }, @Session["time"] * 1000);
        </script>
    </div>
</body>
</html>
